.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: var(--transition);
}

.primary_btn {
  color: white;
  background-color: var(--primary-color);
}

.primary_btn:hover {
  background-color: #1663c8;
}

.secondary_btn {
  background-color: transparent;
  border: 1px solid rgb(226, 226, 226);
}

.secondary_btn:hover {
  color: white;
  background-color: var(--primary-color);
  border: 0.1px solid gainsboro;
}
