.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  background-color: #fff;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.icon {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #6587b9;
}

.register__btn {
  width: 10rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.register__btn:hover {
  background-color: #0a61e3;
}

@media only screen and (max-width: 490px) {
  .heading {
    font-size: 1.2rem;
  }
}
