.main__conatiner {
  display: flex;
  padding: 1rem var(--px-5);
  width: 100%;
  margin: 0 auto;
  height: 100%;
  /* gap: 5rem; */
  background-color: #59c6fd69;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(216.48, 73%, 53%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(213.95, 79%, 69%) 0, transparent 55%);
}

.left__container {
  padding: 1rem 2rem;
  backdrop-filter: blur(10px) saturate(140%);
  -webkit-backdrop-filter: blur(10px) saturate(140%);
  background-color: rgba(255, 255, 255, 0.4);
  /* border-radius: 12px; */

}

.right__container {
  width: 100%;
  background-color: #fff;
  height: 100%;
  padding: 1rem 2rem;
  /* border-radius: 12px; */
}


.other__contact__option p{
  margin-top: 1rem;
  color: gray;
  text-align: center;
}
.h1__tag{

  color: gray;
  font-size: 0.8rem;
}

.image__links{

  display: flex;
  gap: 1rem;
  margin-top: 0.6rem;
}

@media only screen and (max-width: 750px) {
  .main__conatiner {
    padding: 1rem var(--px-2);
    flex-direction: column;
  }
}
