.main__conatiner {
  display: flex;
  padding: 1rem var(--px-5);
  width: 100%;
  margin: 0 auto;
  gap: 5rem;
  background-color: #59c6fd;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(216.48, 73%, 53%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(213.95, 79%, 69%) 0, transparent 55%);
}

.left__container {
  padding: 1rem 2rem;
  backdrop-filter: blur(10px) saturate(140%);
  -webkit-backdrop-filter: blur(10px) saturate(140%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(165, 32, 32, 0.125);
}

.right__container {
  width: 100%;
  background-color: #fff;
  height: 100%;
  padding: 1rem 2rem;
  border-radius: 12px;
}

@media only screen and (max-width: 750px) {
  .main__conatiner {
    padding: 1rem var(--px-2);
    flex-direction: column;
  }
}
